# Data should be downloaded from cipic database
data/cipic.hdf5

#File is used for learning pytorch
src/network/test.py

#Ignore random mac file
**/.DS_Store

# Ignore test split file
src/splitData.txt